<header
  class="bg-gradient-to-tl from-black via-black via-50% to-blue-500 text-white flex py-4 justify-center text-sm gap-6 fixed z-40 w-full"
>
  <p>
    El Model Y con tracción trasera de gran autonomía ya está disponible para
    entrega inmediata.
  </p>
  <a class="underline" href="#">Encargar</a>
</header>
